# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
test-results
storybook-static

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
**/prisma/generated/
**/prisma-generated/
*.tsbuildinfo

# React Email
.react-email/

# Debug
.log*

# Misc
.DS_Store
*.pem
*.bak
*.backup
*.old

# Sentry Config File
.env.sentry-build-plugin

# BaseHub
.basehub
