.shiki {
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);
  border: 1px solid var(--mantine-color-default-border);
}

.shiki span {
  color: var(--shiki-light);
}

.dark .shiki {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);
}

.dark .shiki span {
  color: var(--shiki-dark);
}

.shiki code {
  display: grid;
  font-size: 13px;
  counter-reset: line;
}

.shiki .line:before {
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  color: var(--mantine-color-dimmed);
  text-align: right;
}

.shiki[title]:before {
  content: attr(title);
  display: inline-block;
  color: var(--mantine-color-dimmed);
  text-align: right;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
