# Database
DATABASE_URL="postgresql://user:password@localhost:5432/forge"
DIRECT_DATABASE_URL="postgresql://user:password@localhost:5432/forge"

# Better Auth
BETTER_AUTH_SECRET="your-secret-here-min-32-chars-long"
BETTER_AUTH_URL="http://localhost:3900"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3900"

# Public
NEXT_PUBLIC_APP_URL="http://localhost:3900"

# Feature Flags (optional)
LOCAL_FLAGS=""